@main("Install Git") {
    @top_bar("Home")
    @navbar("install")
  <div class="container">
  <div class="row">
        <div class="col-md-5">
            <img src="@routes.Assets.at("install%20git/install1.png")" class="img-thumbnail" width="100%" >
        </div>

        <div class="col-md-1 marginH1">
            <span class="fa fa-arrow-circle-o-right fa-5x" style="margin-top: 102px"></span></div>
        <div class="col-md-4">
            <img src="@routes.Assets.at("install%20git/install2.png")" class="img-thumbnail" style="margin-top: 52px"
            width="100%">
        </div>
        <div class="col-md-1 marginH1">
            <span class="fa fa-arrow-circle-o-down fa-5x"></span>
        </div>


        <div class="col-md-2 marginH1 col-lg-offset-3" >
            <span class="fa fa-arrow-circle-o-down fa-5x" style="margin-top: 100px"></span>
        </div>
        <div class="col-md-5 col-lg-offset-1">
            <img src="@routes.Assets.at("install%20git/install3.png")" class="img-thumbnail" width="100%">
        </div>
        <div class="col-md-5 col-lg-offset-1">
            <img src="@routes.Assets.at("install%20git/install4.png")" class="img-thumbnail" width="100%">
        </div>
        <div class="col-md-2 marginH1 col-lg-offset-1" >
            <span class="fa fa-arrow-circle-o-down fa-5x" ></span></div>
    </div>
    <div class="row">
        <div class="col-md-2 marginH1 col-lg-offset-3" >
            <span class="fa fa-arrow-circle-down fa-5x" style="margin-top: 100px"></span>
        </div>
        <div class="col-md-5 col-lg-offset-1">
            <img src="@routes.Assets.at("install%20git/install5.png")" class="img-thumbnail" width="100%">
        </div>
        <div class="col-md-5 col-lg-offset-1">
            <img src="@routes.Assets.at("install%20git/install6.png")" class="img-thumbnail" width="100%">
        </div>
        <div class="col-md-2 marginH1 col-lg-offset-1" >
            <span class="fa fa-arrow-circle-o-down fa-5x" ></span></div>
    </div>
    <div class="row">
        <div class="col-md-2 marginH1 col-lg-offset-3" >
            <span class="fa fa-arrow-circle-down fa-5x" style="margin-top: 100px"></span>
        </div>
        <div class="col-md-5 col-lg-offset-1">
            <img src="@routes.Assets.at("install%20git/install7.png")" class="img-thumbnail" width="100%">
        </div>
        <div class="col-md-5 col-lg-offset-1">
            <img src="@routes.Assets.at("install%20git/install8.png")" class="img-thumbnail" width="100%">
        </div>
        <div class="col-md-2 marginH1 col-lg-offset-1" >
            <span class="fa fa-arrow-circle-o-down fa-5x" ></span></div>
    </div>
    <div class="row">
        <div class="col-md-2 marginH1 col-lg-offset-3" >
            <span class="fa fa-arrow-circle-down fa-5x" style="margin-top: 100px"></span>
        </div>
        <div class="col-md-5 col-lg-offset-1">
            <img src="@routes.Assets.at("install%20git/install9.png")" class="img-thumbnail" width="100%">
        </div>
        <div class="col-md-5 col-lg-offset-1">
            <img src="@routes.Assets.at("install%20git/install10.png")" class="img-thumbnail" width="100%">
        </div>
        <div class="col-md-2 marginH1 col-lg-offset-1" >
            <span class="fa fa-arrow-circle-o-down fa-5x" ></span></div>
    </div>
    <div class="row">
        <div class="col-md-2 marginH1 col-lg-offset-3" >
            <span class="fa fa-angle-double-down fa-5x" style="margin-top: 100px"></span>
        </div>
        <div class="col-md-5 col-lg-offset-1">
            <img src="@routes.Assets.at("install%20git/install11.png")" class="img-thumbnail" width="100%">
        </div>

        <div class="col-md-5 marginH1 " >
            <img src="@routes.Assets.at("install%20git/install12.png")" class="img-thumbnail" width="100%">
            <div class="col-md-5 col-lg-offset-1">
                <span class="fa fa-angle-double-down fa-5x" style="margin-top: 100px"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-lg-offset-1">
            <img src="@routes.Assets.at("install%20git/install13.png")" class="img-thumbnail" width="100%">
        </div>
        <div class="col-md-1 marginH1 " >
            <span class="fa fa-chevron-circle-down fa-5x" style="margin-top: 100px"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 col-lg-offset-3">
            <img src="@routes.Assets.at("install%20git/install14.png")" class="img-thumbnail" width="100%">
        </div>
        <div class="col-md-1 marginH1 " >
            <span class="fa fa-chevron-circle-down fa-5x" style="margin-top: 100px"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 marginH1 col-lg-offset-3" >
            <span class="fa fa-hand-o-down fa-5x" style="margin-top: 100px"></span>
        </div>
        <div class="col-md-5 col-lg-offset-1">
            <img src="@routes.Assets.at("install%20git/install5.png")" class="img-thumbnail" width="100%">
        </div>
        <div class="col-md-5 col-lg-offset-1">
            <img src="@routes.Assets.at("install%20git/install16.png")" class="img-thumbnail" width="100%">
        </div>
        <div class="col-md-2 marginH1 col-lg-offset-1" >
            <span class="fa fa-hand-o-down fa-5x" style="margin-top: 100px" ></span></div>
    </div>
    <div class="row">
        <div class="col-md-2 marginH1 col-lg-offset-3" >
            <span class="fa fa-hand-o-down fa-5x" style="margin-top: 100px"></span>
        </div>
        <div class="col-md-5 col-lg-offset-1">
            <img src="@routes.Assets.at("install%20git/install7.png")" class="img-thumbnail" width="100%">
        </div>
        <div class="col-md-5 col-lg-offset-1">
            <img src="@routes.Assets.at("install%20git/install18.png")" class="img-thumbnail" width="100%">
        </div>
        <div class="col-md-2 marginH1 col-lg-offset-1" >
            <span class="fa fa-hand-o-down fa-5x" style="margin-top: 250px" ></span></div>
    </div>
    <div class="row">
        <div class="col-md-2 marginH1 col-lg-offset-3" >
            <span class="fa fa-hand-o-down fa-5x" style="margin-top: 100px"></span>
        </div>
        <div class="col-md-5 col-lg-offset-1">
            <img src="@routes.Assets.at("install%20git/install9.png")" class="img-thumbnail" width="100%">
        </div>
        <div class="col-md-5 col-lg-offset-1">
            <img src="@routes.Assets.at("install%20git/install20.png")" class="img-thumbnail" width="100%">
        </div>
        <div class="col-md-2 marginH1 col-lg-offset-1" >
            <span class="fa fa-hand-o-down fa-5x" style="margin-top: 250px" ></span></div>
    </div>
    <div class="row">
        <div class="col-md-2 marginH1 col-lg-offset-3" >
            <span class="fa fa-hand-o-down fa-5x" style="margin-top: 100px"></span>
        </div>
        <div class="col-md-5 col-lg-offset-1">
            <img src="@routes.Assets.at("install%20git/install21.png")" class="img-thumbnail" width="100%">
        </div>
        <div class="col-md-5 col-lg-offset-1">
            <img src="@routes.Assets.at("install%20git/install22.png")" class="img-thumbnail" width="100%">
        </div>

    </div>
    <div class="row">
        <div class="col-md-2 marginH1 col-lg-offset-1" >

        </div>
        <br>
        <div class="col-md-5 col-lg-offset-1">
            <img src="@routes.Assets.at("install%20git/install23.png")" class="img-thumbnail" width="100%">
        </div>


    </div>

  </div>
}