@()
@main("About GITHUB") {
    @top_bar("index");
    @navbar("about");
    <div class="container">
        <div class="row well">
            <h2 class="text-center text-black" ><strong>About GitHub <span class="fa fa-github-square"></span></strong></h2>
            <div class="col-md-9">

                <h4 class="text-justify" style="color: #444444">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aut
                    beatae blanditiis debitis
                    dolor dolore dolores earum eligendi error esse explicabo fuga fugit illo, maiores maxime natus nemo</h4>
                <h4 class="text-justify" style="color: #444444">  nihil nobis numquam obcaecati omnis quam quas qui quo ratione rem rerum sapiente similique sit
                    tempora tempore ullam vel voluptatibus. Id illum magni nemo quisquam saepe sit, tempora? Accusamus
                    accusantium error non officiis quis repellat sit soluta voluptas, voluptatem! Accusamus alias et
                    expedita ipsum laboriosam laudantium nisi possimus reprehenderit sunt ullam! Autem consequuntur
                    eligendi est eveniet fugiat inventore ipsa iste maiores molestiae, nam neque, nostrum numquam
                    praesentium quasi qui quibusdam repellat ullam. Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Adipisci dignissimos id illo itaque maxime minima quaerat tempora voluptates. Aspernatur autem
                    cupiditate dolore, eligendi error eveniet itaque, officiis optio possimus quae sit suscipit! Dolore,
                    fugit, quos! Accusamus ad consectetur debitis doloremque doloribus eaque eius ipsa minus modi
                    molestiae nobis odio quas quia quis recusandae reiciendis, repellat sequi similique sunt temporibus?
                    Id molestiae nam perferendis voluptate? Aperiam at deserunt dolorum, laborum odio officiis qui quis
                    quo repellat. Aliquid at consequuntur earum excepturi sed! Aliquid dolore dolores ducimus eius, enim
                    et eveniet expedita explicabo id iure iusto laboriosam laudantium magnam maiores natus nisi odio
                    officia omnis quaerat rem soluta suscipit tempore unde veniam veritatis. Ab asperiores distinctio
                    expedita hic, maxime molestias necessitatibus numquam, possimus provident quam quia repellat sit
                    tempora vero voluptatibus. At debitis, eveniet ipsam minima mollitia vel. Atque autem hic molestias
                    perferendis quod. Amet consectetur neque omnis quasi quis! Beatae ducimus necessitatibus nisi quo
                    ratione. Accusamus alias aperiam consequuntur cupiditate error fugiat illum ipsam minus neque
                    obcaecati perspiciatis placeat quos recusandae sint unde veritatis, voluptas? Ad assumenda aut autem
                    blanditiis cupiditate eius eum eveniet inventore ipsa labore maxime molestiae mollitia natus non
                    numquam placeat praesentium qui, quidem similique sunt vitae, voluptatum.</h4>
            </div>

            <div class="col-md-3 " >
                <img src="@routes.Assets.at("images/git.png")" class="img-thumbnail"width="100%" >
            </div>
        </div>

    </div>
}

