@main("Sign up"){
  @top_bar("");
  @navbar("signup")
 <div class="container">
  <div class="row">
    <div class="col-md-3 marginH1">
      <img src="@routes.Assets.at("sign%20in/signUp1.png")" class="img-thumbnail">
    </div>

    <div class="col-md-1 marginH1">
      <span class="fa fa-arrow-circle-o-right fa-2x"></span></div>
    <div class="col-md-5">
      <img src="@routes.Assets.at("sign%20in/signUp2.png")" class="img-thumbnail" style="margin-top: 52px"
      width="100%">
    </div>
    <div class="col-md-3">
      <img src="@routes.Assets.at("sign%20in/signUp3.png")" class="img-thumbnail" style="margin-top: 52px">
      <img src="@routes.Assets.at("sign%20in/signUp4.png")" class="img-thumbnail" style="margin-top: 52px">
      <img src="@routes.Assets.at("sign%20in/signUp5.png")" class="img-thumbnail" style="margin-top: 52px">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-7">
      <img src="@routes.Assets.at("sign%20in/signUp6.png")" class="img-thumbnail" width="100%">
    </div>
    <div class="col-md-5">
      <img src="@routes.Assets.at("sign%20in/signUp7.png")" class="img-thumbnail" style="margin-top: 52px"
      width="100%">
      <img src="@routes.Assets.at("sign%20in/signUp8.png")" class="img-thumbnail" style="margin-top: 52px"
      width="100%">
      <img src="@routes.Assets.at("sign%20in/signUp9.png")" class="img-thumbnail" style="margin-top: 52px"
      width="100%">
    </div>

  </div>


 </div>
}