@main("Singn idea"){
  @top_bar("")
  @navbar("sign_idea")
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
          </ol>

          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="@routes.Assets.at("sign%20on/setUpOnIdea1.png")" alt="Chania">
            </div>

            <div class="item">
              <img src="@routes.Assets.at("sign%20on/setUpOnIdea2.png")" alt="Chania">
            </div>

            <div class="item">
              <img src="@routes.Assets.at("sign%20on/setUpOnIdea3.png")" alt="Flower">
            </div>

            <div class="item">
              <img src="@routes.Assets.at("sign%20on/setUpOnIdea4.png")" alt="Flower">
            </div>
            <div class="item">
              <img src="@routes.Assets.at("sign%20on/setUpOnIdea5.png")" alt="Flower">
            </div>
            <div class="item">
              <img src="@routes.Assets.at("sign%20on/setUpOnIdea6.png")" alt="Flower">
            </div>
          </div>

          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="fa fa-chevron-left" style="margin-top: 200px"></span>

          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="fa fa-chevron-right" style="margin-top: 200px"></span>
          </a>
        </div>

      </div>
      <div class="col-lg-6">
        <div id="myCarousel1" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel1" data-slide-to="1"></li>
            <li data-target="#myCarousel1" data-slide-to="2"></li>
            <li data-target="#myCarousel1" data-slide-to="3"></li>
            <li data-target="#myCarousel1" data-slide-to="4"></li>
            <li data-target="#myCarousel1" data-slide-to="5"></li>
          </ol>

          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="@routes.Assets.at("sign%20on/setUpOnIdea7.png")" alt="Chania">
            </div>

            <div class="item">
              <img src="@routes.Assets.at("sign%20on/setUpOnIdea8.png")" alt="Chania">
            </div>

            <div class="item">
              <img src="@routes.Assets.at("sign%20on/setUpOnIdea9.png")" alt="Flower">
            </div>

            <div class="item">
              <img src="@routes.Assets.at("sign%20on/setUpOnIdea10.png")" alt="Flower">
            </div>
            <div class="item">
              <img src="@routes.Assets.at("sign%20on/setUpOnIdea11.png")" alt="Flower">
            </div>
            <div class="item">
              <img src="@routes.Assets.at("sign%20on/setUpOnIdea12.png")" alt="Flower">
            </div>

          </div>


          <a class="left carousel-control" href="#myCarousel1" role="button" data-slide="prev">
            <span class="fa fa-chevron-left" style="margin-top: 200px"></span>

          </a>
          <a class="right carousel-control" href="#myCarousel1" role="button" data-slide="next">
            <span class="fa fa-chevron-right" style="margin-top: 200px"></span>
          </a>
        </div></div>
    </div>
  </div>
}